/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--Inter), sans-serif;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--main-font-weight);
}

/*         Шапка           */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 120px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 368px;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  inline-size: var(--width-clamp);
}

.logo-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-group__title {
  margin: 0;
  color: var(--border-color);
  font-family: var(--PressStart2P);
  font-size: var(--logo-font-clamp);
  line-height: 1;
  text-transform: uppercase;
}

.header__title {
  margin: 0;
  font-family: var(--PressStart2P);
  font-size: var(--header-title-clamp);
  line-height: 1;
  text-transform: uppercase;
  font-variation-settings: var(--accent-font-weight);
}

/*      Основной контент       */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.content__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--width-clamp);
}

/* Карточка */
.card {
  display: flex;
  flex-direction: column;
}

.card__title-section {
  border: 2px solid var(--border-color);
  border-block-end: none;
  padding: 5px 10px;
  background-color: var(--background-color);
}

.card__title {
  margin: 0;
  font-family: var(--Inter);
  font-size: 1.125rem;
  line-height: 1.2;
  font-variation-settings: var(--accent-font-weight);
}

.container-card-image {
  position: relative;
  width: 100%;
}

.card__image-wrapper {
  width: 100%;
  height: var(--width-clamp);
  border: 2px solid var(--border-color);
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  height: var(--width-clamp);
  object-fit: cover;
  object-position: right center;
  aspect-ratio: 1 / 1;
}

.image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  z-index: 1;
  opacity: 0.5;
  color: var(--label-background-color);
  font-family: var(--PressStart2P);
  font-size: 14px;
  text-shadow: 
    -1px -1px 0 var(--label-stroke-color),
    1px -1px 0 var(--label-stroke-color),
    -1px 1px 0 var(--label-stroke-color),
    1px 1px 0 var(--label-stroke-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--label-stroke-color)) or (-webkit-text-stroke: 1px var(--label-stroke-color))) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
} 

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border: 2px solid var(--border-color);
  border-block-start: none;
  padding: var(--content-padding-clamp);
  background-color: var(--background-color);
}

.card__text {
  margin: 0;
  font-family: var(--Inter);
  font-size: var(--text-font-clamp);
  line-height: 1.5;
  font-variation-settings: var(--main-font-weight);
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

/* Кнопка сердечка */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
}

/* focus */
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
  transition: border-color 0.3s ease;
}

/* Кнопка лайка */

.card__like-button {
  position: relative;
  border: 2px solid var(--border-color);
  padding: 10px 20px;
  overflow: hidden;
  color: var(--background-color);
  font-family: var(--PressStart2P);
  font-size: 0.875rem;
  background-color: var(--background-color);
  cursor: pointer;
  min-inline-size: 130px;
  block-size: 38px;
}

.card__like-button .button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

/* hover */
.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--border-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.card__like-button:hover::before {
  transform: translateX(0);
}

/* focus */
.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--border-color);
  transition: box-shadow 0.3s ease;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
}

.save-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--border-color);
  padding: 15px 20px;
  overflow: hidden;
  color: var(--border-color);
  font-family: var(--PressStart2P);
  font-size: 0.875rem;
  background-color: var(--background-color);
  cursor: pointer;
  min-inline-size: var(--button-width-clamp);
}

.save-button .button__text {
  position: relative;
  z-index: 1;
}

.save-icon {
  position: relative;
  z-index: 1;
  fill: currentColor;
  inline-size: 21px;
  block-size: 21px;
}


.modal {
  margin: auto;
  border: 2px solid var(--border-color);
  padding: 31px 31px;
  background-color: var(--background-color);
  max-inline-size: 357px;
  display: none;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 293px;
}

.floppy-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  fill: currentColor;
}

.modal__message {
  flex: 1;
  margin: 0;
  color: var(--border-color);
  font-family: var(--PressStart2P);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.modal form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal__button {
  position: relative;
  width: 100%;
  max-width: 293px;
  border: 2px solid var(--border-color);
  padding: 10px 35px;
  overflow: hidden;
  color: var(--border-color);
  font-family: var(--PressStart2P);
  font-size: 0.875rem;
  background-color: var(--background-color);
  cursor: pointer;
}

.modal__button .button__text {
  position: relative;
  z-index: 1;
}

/*Фильтры карточек */

/* 1*/
.filter-preparation {
  filter: brightness(0.95);
}

/* 2*/
.filter-blank-page {
  filter: sepia(0.8);
}

/* 3*/
.filter-doubt {
  filter: grayscale(0.7);
}

/* 4*/
.filter-perfection {
  filter: saturate(1.8);
}

/* 5*/
.filter-warmth {
  filter: hue-rotate(56deg);
}

/* 6 карточка множественный */
.filter-creative {
  filter: hue-rotate(180deg) saturate(1.5) drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}

/* 7*/
.filter-exhaustion {
  filter: blur(0.2rem);
}

/* 8*/
.filter-journey {
  filter: invert(0.9);
}

/* Для мобильников */

@media (width <= 375px) {
  .header__container {
    box-sizing: border-box;
    width: 100%;
    height: 323px;
  }

  .content__container {
    box-sizing: border-box;
    width: 100%;
  }

  .card {
    box-sizing: border-box;
    width: 100%;
  }
  
  .save-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .save-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
